.homeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;
}

.countries {
    border-radius: 5px;
    background-color: rgb(184, 180, 180);
    font-size: 20px;
    padding: 5px 0;
    text-align: center;
    width: 170px;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 120px;
    font-weight: 700;
    margin: 35px 0 20px;
}