.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-size: 25px;
    margin-top: 100%;
    text-align: center;
}

p {
    text-align: center;
    font-size: 15px;
    padding: 0 15px;
}

input, button {
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

label {
    display: none;
}

input {
    width: 80%;
    margin: 10px auto 5px;
    text-indent: 3px;
}

button {
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: black;
    color: antiquewhite;
}

@media only screen and (min-width: 900px) {
    .body {
        max-width: 500px;
        margin: auto;
    }
}