.body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 50px;
}

ul {
    padding: 20px 15px;
    list-style: none;
    font-size: 20px;
}

li + li {
    margin-top: 10px;
}

p {
    text-align: center;
    font-size: 15px;
    padding: 0 15px;
}

input, button {
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

label {
    display: none;
}

input {
    width: 80%;
    margin: 10px auto 5px;
    text-indent: 3px;
}

button {
    width: 40%;
    margin: 0 auto;
}